
<div class="container-lg mt-5 pt-5">
  <div class="row justify-content-center">

    <div class="col-12 col-xl-4 col-md-6">

      <div class="card">
        <div class="card-header">
          LISTA DE PACIENTES
        </div>
        <div class="card-body">
          <form [formGroup]="formularioPacientes">

            <div class="input-group mb-3">
              <div class="col-12">
                <input type="text" class="form-control" placeholder="Ingresar numero documento" formControlName="numeroDocumento">
              </div>
              <div class="col-12">
                <input type="text" class="form-control" placeholder="Ingresar tipo documento" formControlName="tipoDocumento">
              </div>
              <div class="col-12">
                <input type="text" class="form-control" placeholder="Ingresar nombre" formControlName="nombre">
              </div>
              <div class="col-12">
                <input type="text" class="form-control" placeholder="Ingresar apellido" formControlName="apellido">
              </div>
              <div class="col-12">
                <input type="text" class="form-control" placeholder="Ingresar correo electronico" formControlName="correoElectronico">
              </div>
              <div class="col-12">
                <input type="text" class="form-control" placeholder="Ingresar telefono" formControlName="telefono">
              </div>
              <div class="col-12">
                <input type="text" class="form-control" placeholder="Ingresar fecha nacimiento" formControlName="fechaNacimiento">
              </div>
              <div class="col-12">
                <input type="text" class="form-control" placeholder="Ingresar estado afiliacion" formControlName="estadoAfiliacion">
              </div>
              <br> <br>
            
              <button class="btn btn-primary" type="button" [disabled]="formularioPacientes.invalid"
              (click)="agregarPacientes()"
              >Agregar</button>
            </div>

          </form>

          <ul class="list-group">
            <li class="list-group-item" *ngFor="let paciente of listaPacientes">
              <div class="d-flex justify-content-between">
              
                <div>
                  <label><strong>Nombre Completo:</strong> {{paciente.nombre}} {{paciente.apellido}}</label>
                </div>
                <div>
                  <label><strong>Estado Afiliación:</strong> {{paciente.estadoAfiliacion}}</label>
                </div>
                
                    <button class="btn btn-danger btn-sm" type="button"
                    (click)="eliminarPacientes(paciente)"
                    >
                    Eliminar
                  </button>
                </div>
            </li>
          </ul>

        </div>

      </div>

    </div>

  </div>

</div>